{
  "useTabs": false,
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "none",
  "bracketSpacing": true,
  "singleQuote": true,
  "semi": false,
  "proseWrap": "never",
  "htmlWhitespaceSensitivity": "ignore",
  "quoteProps": "as-needed",
  "arrowParens": "avoid",
  "vueIndentScriptAndStyle": true,
  "endOfLine": "auto"
}
