Layer: {{ layer }} / {{ total_layer }}
Position: (X: {{ current_position_x }}) (Y: {{ current_position_y }}) (Z: {{ current_position_z }})
Nozzle temp: {{ nozzle_temp }} / {{ target_nozzle_temp }}
Bed temp: {{ bed_temp }} / {{ target_bed_temp }}
File name: {{ print_file_name }}
Print job time: {{ print_job_time }}
Print left time: {{ print_left_time }}
Print start date: {{ print_start_date }}
Print end date: {{ print_end_date }}
Print progress: {{ print_progress }}\%